DB_HOST = "<YOUR_DB_HOST>"
DB_PORT = <YOUR_DB_PORT>
DB_NAME = "<YOUR_DB_NAME>"
DB_USER = "<YOUR_DB_USERNAME>"
DB_PASSWORD = "<YOUR_DB_PASSWORD>"

TEST_DB_HOST = <TEST_DB_HOST>
TEST_DB_PORT = <TEST_DB_PORT>
TEST_DB_NAME = <TEST_DB_NAME>
TEST_DB_USER = <TEST_DB_USERNAME>
TEST_DB_PASSWORD = <TEST_DB_PASSWORD>

jwt_secret = "<YOUR_JWT_SECRET>"
JWT_ACCESS_COOKIE_NAME = "<YOUR_TOKEN_NAME>"
JWT_TOKEN_LOCATION = ["<YOUR_JWT_LOCATION>"]

admin_email = "<admin@email.com>"
admin_password = "<AdminPassword12345!>"
admin_first_name = "<admin_first_name>"
admin_middle_name = "<admin_middle_name>"
admin_last_name = "<admin_last_name>"